.navbar-brand {
    font-size: 36px;
    font-family: $font-primary;
}

.navbar {
    background-color: getColour(primary-grey) !important;
    position: fixed;
    width: 100%;
    top: 0px;
    z-index: 1;
}

.navbar-light .navbar-nav .active > .nav-link {
    color: getColour(pinky);
}

.navbar-toggler {
    border: none;
}